html{
    background: rgba(20,222,221,1);
}
*{
    margin: 0px;
    padding: 0px;
}
#uploadPage{
    position:fixed;
    z-index:2;
    top:0;
    left:0;
    min-height:100vh;
    height: 100vh;
    min-width:100vw;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    }
#uploadPage>div{
    margin: 0 auto;
}
 .sourceContainer{
            border:1 px solid grey;
            padding: 5px;
        }
        .sourceContainer p a{
            text-decoration: none;
        }
        .sourceItem{
            border-radius:5px;
            margin:0 auto;
            margin:10px 15px;
            padding:10px 10px;
            border:1px solid black;
            z-index:3;
            box-shadow:1px 1px darkgrey,-1px 0px darkgrey;
            text-align: center;
            font-family: "verdana", cursive;
            font-size: 1.4em;
            background: rgba(250,250,250,1);
        }
        .sourceItem *{
            text-align: center;
            margin:0 auto;
        }
        .sourceName{
            text-transform: capitalize;
            font-weight: bold;
        }
        .myContainer{
           margin-top: 50px;
            margin-bottom: 50px;
        }
        span.badge{
            font-size:24px;
        }
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}
.navbar{
    z-index: 5;
    box-shadow: 2px 2px green;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}
row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}